<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Posts!</title>
</head>
<body>
  <a href="/users/<%=userLoggedIn.id%>">Your Page</a> |
  <a href="/posts/create">Create a Post</a>
  <form method="GET" action="/auth/logout">
    <input type="submit" value="Logout">
  </form>
  <h1>Welcome <%=userLoggedIn.first_name%></h1>
  <h2>Posts:</h2>
  <ul>
    <% posts.forEach(function (post) { %>
      <li>
        <h3><%=post.title%></h3>
        <%=post.content%>
        <form method="GET" action="/posts/<%=post.id%>">
          <input type="submit" value="See More">
        </form>
      </li>
      <% }) %>
  </ul>
</body>
</html>
